@use "../../styles/variables" as *;

.hero {
    position: relative;
    padding: 34px 0 24px;
    min-height: 440px;
    display: flex;
    align-items: center;
}

.bg {
    position: absolute;
    inset: 0;
    background-image: url("../../assets/hero.jpeg");
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            $hero-overlay-top,
            $hero-overlay-mid,
            $hero-overlay-bottom );
}

.inner {
    position: relative;
    z-index: 1;
}

.card {
    max-width: 600px;
    margin-inline-start: auto;

    background: none;
    border: none;
    box-shadow: none;
    backdrop-filter: none;

    padding: 0;
}

.title {
    margin: 0 0 10px;
    font-size: clamp(32px, 3.8vw, 50px);
    line-height: 1.12;
    font-weight: 900;
    margin-bottom: 30px;

    color: $hero-title-color;
    text-shadow: $hero-title-shadow;
}


.actions {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin: 0 0 14px;
}

.primary,
.secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 900;

    border-radius: $radius-sm;
    padding: 12px 16px;
    min-width: $hero-cta-min-width;
}

.primary {
    background: $ui-btn-primary-bg;
    color: $ui-btn-primary-text;
}

.secondary {
    background: $ui-btn-secondary-bg;
    color: $ui-btn-secondary-text;
}

@media (max-width: 640px) {
    .hero {
        padding: 22px 0 18px;
        min-height: 360px;
    }

    .card {
        padding: 20px 16px;
        border-radius: $radius;
    }

    .primary,
    .secondary {
        width: 100%;
        min-width: unset;
    }
}